@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Nunito");

body{
	font-family: 'Nunito', sans-serif;
	background-image: url(img/background3.png);/*добавил фоновое изображение*/
	background-attachment: fixed;/*зафиксировал фон*/
}
.main{
	width: 960px;/*ширина страницы*/
	margin: auto;/*отступ расчет автоматичеки*/
	background-color: rgba(244,67,54,1.00);/*цвет фона*/
}

.link{
	margin: 0;/*убрал отступы*/
	padding: 20px 0;/*добавил поля top bottom*/
	display: flex;/*применил свойства контейнеру*/
	box-shadow: 0 5px 5px 2px rgba(0,0,0,0.2) ;/*добавил тень блоку*/
	transition: 1s;/*время перехода анимации*/
	list-style-type: none;/*убрал маркеры*/
    position: f;
}
.link:hover{
	box-shadow: 0 .3px 2px .3px rgba(0,0,0,0.3) ;/*уменьшил тень*/
	border-radius: 0 0 50px 50px;/*добавил радиус нижние углы*/
}
.link a{
	padding-left: 40px;/*добавил поля слева*/
	color: rgba(255,255,255,1.00);/*цвет текста ссылок*/
	text-decoration: none;/*убрал подчеркивание*/
	transition: 1s;/*время перехода анимации*/
}
.link a:hover{
	display: block;
	text-decoration-line: underline;/*добавил подчеркивание*/
  	color: rgba(53,255,226,1.00);
	transform: skewY(-2deg);
}
.second p{
	text-align: center;
	font-size: 50px;
	color: rgba(255,255,255,1.00);
	padding-top: 0px;
	text-shadow: 0 3px 2px rgba(6,3,3,.5);
	transition: 1.2s;
}

.second p:hover{
	color: rgba(255,255,255,1.00);
	text-shadow: 0 12px 5px rgba(6,3,3,.3);
	transform: perspective(1000px) scale3d(.9, 1.03, .6) translateZ(200px);
}
.w3link{
	width: 100%;
	margin: 10px auto;
    text-align: center;
}
.w3s{
    position: absolute;
	display: block;
    padding-top: 20px;
    margin: 0 0 0 396px;
	font-size: 20px;
	color: rgba(255,255,255,1.00);
    z-index: 1;
}
.w3{
	display: block;
    padding: 20px 0 20px 0;
	font-size: 20px;
	color: rgba(255,255,255,1.00);
	transition: 1s;
    z-index: 2;
}
.w3:hover{
	color: rgba(255,255,255,.01);
	transform: scale(10,1);
	filter: blur(10px);
}
.get{
	display: block;
	text-align: center;
	font-size: 18px;
	color: rgba(255,255,255,1.00);
	background: rgba(6,3,3,1.00);
	margin: 0 auto 150px auto;
	width: 120px;
	padding: 15px 15px;
	text-decoration: none;
	border-radius: 10px;
	transition: 1s;
}
.get:hover{
    background: #fff;
	color: rgba(255,84,71,1.00);
	box-shadow: 0 0 310px 21px rgba(255,255,255,.8);
/*  outline: 5px solid #fff;*/
	transform: rotateY(360deg);
    z-index: 1000px;
}


.third{
	width: 960px;
	background-color: rgba(255,255,255,1.00);
}
.third p::first-letter{
	font-size: 30px;
	color: rgba(219,81,83,1.00);
}
.thirdh1{
	
	font-size: 30px;
	padding: 60px 0 20px 50px;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	margin: 0;
}
.third-p2{
	font-size: 16px;
	padding: 30px 0 20px 50px;
	width: 550px;
	margin: 0;
	color:rgba(0,0,0,.6);
	transition: 1s;
}
.third-p2:hover{
	color:rgba(0,0,0,1);
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	transform: scale(1.15);
	
}
.third-p3{
	font-size: 16px;
	padding: 30px 0 100px 50px;
	width: 550px;
	margin: 0;
	color:rgba(0,0,0,.5);
	transition: 1s;
/*    font-family: 'ZCOOL KuaiLe', cursive;*/
}
.third-p3:hover{
	color:rgba(0,0,0,1);
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	transform: scale(1.15);
	
}
.anchor-text{
	position: absolute;
	padding: 20px 0 20px 20px;
	margin: 120px 40px 20px 620px;
	opacity: 0;
	width: 280px;
	transition: 1s;
}
.anchor-text:hover{
	transform: scale(1.15);
	opacity: 1;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	background-color: rgba(255,255,255,1.00);
}
.anchor{
	position: absolute;
	width: 200px;
	margin: 120px 0 0 650px;
	transition: 1s;
}


.fourth{
	width: 960px;
	background-color: rgba(232,232,232,1.00);
}
.fourth-p1{
	
	font-size: 30px;
	padding: 60px 10px 20px 20px;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	margin: 0 0 0 350px;
}
.fourth-p2{
	font-size: 16px;
	padding: 30px 10px 20px 20px;
	width: 550px;
	margin: 0 0 0 350px;
	color:rgba(0,0,0,.6);
	transition: 1s;
}
.fourth-p2:hover{
	color:rgba(0,0,0,1);
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	transform: scale(1.15)
}
.fourth-p3{
	font-size: 16px;
	padding: 30px 10px 100px 20px;
	width: 550px;
	margin: 0 0 0 350px;
	color: rgba(0,0,0,.5);
	transition: 1s;
}
.fourth-p3:hover{
	color:rgba(0,0,0,1);
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	transform: scale(1.15);
	
}
.cup-text{
	position: absolute;
	padding: 20px 0 20px 0;
	margin: 120px 620px 20px 40px;
	opacity: 0.01;
	width: 280px;
	transition: 1s;
}
.cup-text:hover{
	transform: scale(1.15);
	opacity: 1;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	background-color: rgba(232,232,232,1.00);
}
.cup{
	position: absolute;
	width: 200px;
	margin: 150px 600px 0 50px ;
	transition: 1s;
}


.fifth{
	width: 960px;
	background-color: rgba(101,101,101,1.00);
	transition: 1s;
}
.fifth:hover{
	box-shadow: 0 0 10px 6px rgba(0,0,0,0.3) ;/*уменьшил тень*/
	border-radius: 550px;/*добавил радиус нижние углы*/
	transform: scale(.7);
	background-color: rgba(244,67,54,1.00);
}
.fifth p{
	color: rgba(255,255,255,1.00);
	text-align: center;
	font-size: 25px;
	padding: 40px 0;
	margin: 0;
}


.footer{
	width: 960px;
    padding-top: 70px;
	background-color: rgba(255,255,255,1.00);
}
.network{
	display: flex;
    align-items: center;
    justify-content: center;
	list-style-type: none;
    padding-bottom: 50px;
}
.network img{
	width: 40px;
	padding-left: 10px;
	transition: 1s;
}
.network img:hover{
	transform: scale(1.5) rotate(720deg);
	filter: grayscale(1);
}
.power{
	display: block;
    text-align: center;
	color: rgba(242,88,77,1.00);
	padding-bottom: 50px;
	transition: .5s;
}
.power:hover{
	color: rgb(255, 0, 0);
	transform: scaleX(1.1);
}
a:link{
	
}




